[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-flask = "*"

[packages]
python-socketio = "*"
requests = "*"
httplib2 = "*"
Flask = "*"
Flask-DebugToolbar = "*"
Flask-Restless-NG = "*"
Flask-SocketIO = "*"
Flask-SQLAlchemy = "*"
PyYAML = "*"
SQLAlchemy = "*"
Werkzeug = "*"
flask-admin = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
